.contactPopUp(id="contactPopupWindow")
    img#contactCloseBtn(src="images/closebtn.png")
    h4.popupTitle Contact me 
    .contactLine
        a.contactIcon(href="mailto:mxfoyster@yahoo.co.uk") 
            img(src="images/emailicon.png") 
        a.contactText(href="mailto:mxfoyster@yahoo.co.uk")
            | mxfoyster@yahoo.co.uk
    .contactLine
        a.contactIcon(href="http://m.me/52363517903" target="_blank") 
            img(src="images/messengericon.png") 
        a.contactText(href="http://m.me/52363517903" target="_blank")
            | Connect on Messenger

.bigPopUp(id="bigPopUp")
    .popUpTitleContainer
        span#popUpTitle
    img#bigCloseBtn(src="images/closebtn.png")
    #popUpBody     
    

    