<nav>
if file == 'index' 
    a.selected(href="/") INDEX
else 
    a(href="/") INDEX

if file == 'rest.pug' 
    a.selected(href="rest.pug") REST API
else 
    a(href="rest.pug") REST API
    
if file == 'bootstrap.pug' 
    a.selected(href="bootstrap.pug") BOOTSTRAP
else 
    a(href="bootstrap.pug") BOOTSTRAP 

a(href="links.html") LINKS
</nav>