//- 
    If the filename is 'index', it will use '/' for the href which is
    the correct route for this in my route.js
    otherwise it will use the filename as the href.
    If 'file' (the current file being rendered, passed from routes.pugRoutes function on render) 
    is the same as 'fileName', class of 'selected' is added to anchor tag (highlights tag)  

mixin menuItem(fileName, menuLabel)
    if fileName == 'index'
        a.button1(class={selected: file == fileName} href="/") INDEX
    else
        a.button1(class={selected: file == fileName} href=fileName)= menuLabel

<nav class="buttons">
+menuItem("index", "INDEX")

+menuItem("rest.pug", "REST API")

+menuItem("bootstrap.pug", "BOOTSTRAP")

+menuItem("links.html", "LINKS")
</nav>