.footer
    hr
    
    .flexContainer
        span.footerLinkContainer
            a.footerLink(href="mailto:mxfoyster@yahoo.co.uk") 
                img(src="images/emailicon.png") 
            a.footerLink(href="mailto:mxfoyster@yahoo.co.uk")
                | mxfoyster@yahoo.co.uk

        p Mark Foyster May 2022

        span.footerLinkContainer
            a.footerLink(href="http://m.me/52363517903" target="_blank") 
                img(src="images/messengericon.png") 
            a.footerLink(href="http://m.me/52363517903" target="_blank")
                | Connect on Messenger