.headerOuterContainer 
    .header 
        .leftHeader 
            h1.headings(class="mainHeading") Mark Foyster 
            h3.green Aspiring Developer
        
        .midHeader
            include profilemenu.pug
        .rightHeader
            img.contactSml(src="images/contactsml.png" id="triggerContactPopup")
        

    