.headerOuterContainer 
    .header 
        .leftHeader 
            h1.headings(class="mainHeading") Mark Foyster 
            h3.red Aspiring Developer
        
        .rightHeader
            include profilemenu.pug

    