doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='css/buttons.css')
        link(rel='stylesheet', type='text/css', href='css/profile-style.css')
        script(src="js/profile.js" defer) 
        title Mark Foyster
    body 
        include includes/contactpopup.pug
        #top
        .main-container
            include includes/profileheader.pug
            .middle 
                .intro
                    h3.headings(class="subHeading") INTRO 
                    .bkgKeyboard
                    p Welcome and thank you for visiting.  
                    
                    br 

                    p I have been coding as a hobby since childhood and have been developing websites on an ad hoc basis for over 20 years for friends and family. Now looking to get my 'foot in the door' and begin my journey as a commercial sofware engineer / web developer. 

                    br
                    p I have no expectations of large salaries or perks, just a strong desire to finally work in an industry that I am highy passionate about that best suits my skills.   
                
                #skills
                .skills 
                    h3.headings(class="subHeading") SKILLS
                    .bkgMouse 
                    div
                        p I have a good working knowledge in a range of languages / tech for full stack web development (client & server) including: 
                        ul.skillsUl(class="skillsUlNrImage") 
                            li HTML, CSS3, Markdown 
                            li JavaScript, XML &amp; JSON 
                            li Node.js, npm &amp; Express.js
                            li PHP, MySQL &amp; PUG 

                        
                        p Familiar with many traditional compiled languages including: 
                        ul.skillsUl 
                            li C# (console, Unity 3D, WPF etc)
                            li C++ 
                            li Pascal
                       
                        p Gained experience with the following tools whilst working on my personal projects: 
                        ul.skillsUl 
                            li GitHub, Git CLI (Git Bash), GitHub Desktop
                            li Canva, Figma &amp; Invision 
                            li Visual Studio, VS Code, Notepad ++
                    
                p In the past, I have had a play with CMS including Joomla and Wordpress. I had more fun making my own basic CMS using JavaScript, PHP and XML/XSLT for a project about a decade ago.
                #education
                .education 
                    h3.headings(class="subHeading") EDUCATION
                    p The list below will only include qualifications related to I.T.
                    br
                    .boxed
                        h4 NCFE Level NCFE Level 3 User Experience/User Interface (UX/UI)
                        p Ongoing, started 19th April 2022. The course covers all aspects of deigning a good User Experience. As with the Coding Practices course, it is Agile / Scrum centric. More information on it's contents is available <a href="https://www.qualhub.co.uk/media/19898/603-7619-3-qualification-specification-version-10.pdf">HERE</a>.
                    br
                    .boxed
                        h4 NCFE Level 3 Certificate in Coding Practices
                        p Completed in early April 2022 pending moderation, this course covered much more than just code. It focused on the entire development cycle and made strong reference to Scrum and other Agile methodologies. Additionally, we were taught about Test Driven Development, UI/UX, Deployment and many other areas of Software engineering. More information on the course content can be found <a href="https://www.qualhub.co.uk/media/20704/603-5793-9-qualification-factsheet-version-10.pdf">HERE</a>.
                    br
                    .boxed
                        h4 TQUK Level 2 Certificate in IT User Skills (RQF)
                        p Pretty basic stuff completed 10th Degember 2021. Using the standard MS Office apps or similar, internet, email etc. Understanding about security and data integrity. It was free and whilst I am able to use pretty much any software, it doesn't hurt to have a piece of paper to prove it. More information about the content <a href="https://www.tquk.org/wp-content/uploads/sites/2/2021/08/TQUK-Level-2-Certificate-in-IT-User-skills-RQF-V2U.pdf">HERE</a>.
                    br
                    .boxed
                        h4 City &amp; Guilds level 2 in programming C++
                        p This is an oldie, back around 1995 - 1996. This was completely based on C++, Borland if I recall correctly. We made simple Console based programs, learnt how to handle and sort data directly, garbage collect and a little bit of OOP. I continued afterwards to further develop these skills. It's been a while now, but I am very keen to go back to it.

                .bio
                    h3.headings(class="subHeading") BIO
                    .bkgPortrait
                    p Born and raised in the fens of South Lincolnshire I had a standard secondary school education, moving on to study Science in Stamford College. I moved to South Wales in my mid 20's and remained there for the most part until 2018. At this point I moved back to the fens where I still reside.  
                    
                    br

                    p My work background is extremely varied, from a high tech manufacturing enivronment (Fujifilm Electronic Imaging) to the Equestrian industry.
                    br
                    p Alongside my passion for IT and associated technology, my hobbies include metalwork and vehicle maintenance. I have been passionate about horses for many years, however in more recent times I have developed a strong enthusiasm for Kayaking which is a lot more affordable and just as fun!
                    br
                    br
                #links
                .links
                    h3.headings(class="subHeading") LINKS
                    p Please bear in mind that whilst these projects might seem quite recent from the date, I have spent pretty much all my spare time refreshing and updating my skills recently. Many of them do not indicate where I am now skill wise.
                    br
                    .flexContainer
                        .boxedLink
                            h4.green GENERAL LINKS
                            ul 
                                li 
                                    a(href="https://github.com/mxfoyster" target="_blank") GitHub Account 
                                li 
                                    a(href="https://www.linkedin.com/in/mark-foyster-481a0431/" target="_blank") LinkedIn 
                        
                        .boxedLink
                            h4.green OLDER PORTFOLIOS
                            ul 
                                li 
                                    a(href="http://mark-foyster.epizy.com/portfolio2/" target="_blank") Last Attempt 
                                li 
                                    a(href="http://mark-foyster.epizy.com/portfolio/" target="_blank") First Attempt 
                        
                        .boxedLink
                            h4.green NODE PROJECTS
                            ul 
                                li 
                                    a(href="/justnode/" target="_blank") Just Node 
                                li 
                                    a(href="/express/" target="_blank") Node, Express &amp; PUG 
                    br
                    br
                    .flexContainer
                        .boxedLink
                            h4.green UNITY PROJECTS
                            ul 
                                li 
                                    a(href="https://github.com/mxfoyster/ModularUnityBits" target="_blank") Modular unity Bits 
                                li 
                                    a(href="https://github.com/mxfoyster/PenguinFlyer" target="_blank") Penguin Flyer 
                        .boxedLink
                            h4.green WINDOWS PROJECTS
                            ul 
                                li 
                                    a(href="https://github.com/mxfoyster/PaddlerData" target="_blank") Paddler Data (.NET WPF)
                                li 
                                    a(href="https://github.com/mxfoyster/randomWinApp" target="_blank") Paddle Length Calculator (Win 32)
                                li 
                                    a(href="https://github.com/mxfoyster/first_WPF_App" target="_blank") Paddle Length Calculator (.NET WPF) 
                        
                        .boxedLink
                            h4.green WEB PROJECTS
                            ul 
                                li 
                                    a(href="http://mark-foyster.epizy.com/watersports/index.php" target="_blank") Using Real Data
                                li 
                                    a(href="http://mark-foyster.epizy.com/kayak/" target="_blank") Soggy Bottom Kayak Club (AUTH System) 

                    p 
                        | Everything here is for the purpose of practice and as proof I have a grasp of the basic concept of each technology. The code is available on my github account 
                        a(href="https://github.com/mxfoyster/FirstExpressApp") here
                        | . Have a look at some of my other projects while you are there and see my 'learning journey'.
                    br
                    br
                
            include includes/profilefooter.pug