doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='css/buttons.css')
        link(rel='stylesheet', type='text/css', href='css/profile-style.css')
        link(rel='stylesheet', type='text/css', href='wordgame/style.css')
        script(src="js/profile.js" defer) 
        script(src="wordgame/wordgame.js") 
        title Mark Foyster
    body 
        include includes/all-popups.pug
        #top
        .main-container
            include includes/profileheader.pug
            .middle 
                .intro
                    h3.headings(class="subHeading") INTRO 
                    .bkgKeyboard
                   
                    p Strong interest and passion for all things IT and fascinated by software engineering and web development since childhood. Now looking to get my 'foot in the door' with an apprenticeship or other entry level position and begin my journey within the industry.  
                
                #skills
                .skills 
                    h3.headings(class="subHeading") SKILLS
                    .bkgMouse 
                    div
                        p Good working knowledge in a range of languages &amp; tech for full stack web development (client &amp; server) including: 
                        ul.skillsUl(class="skillsUlNrImage") 
                            li HTML, CSS3, Markdown 
                            li JavaScript, XML &amp; JSON 
                            li Node.js, npm &amp; Express.js
                            li React.js &amp; JSX
                            li PHP, MySQL &amp; PUG 

                        
                        p Familiar with many traditional compiled languages including: 
                        ul.skillsUl 
                            li C# (console, Unity 3D, WPF etc)
                            li C++ 
                            li Pascal
                       
                        p Gained experience with the following tools whilst working on my personal projects: 
                        ul.skillsUl 
                            li GitHub, Git CLI (Git Bash), GitHub Desktop
                            li Canva, Figma &amp; Invision 
                            li Visual Studio, VS Code, Notepad ++
                    
                p In the past, I have had a play with CMS including Joomla and Wordpress. I made my own basic CMS using JavaScript, PHP and XML/XSLT for a project about a decade ago.
                
                p Bored? Why not play my <button class="new" onclick="activateBigPopUp('', 'wordgame')">WORDGAME</button>.
                
                #education
                .education 
                    h3.headings(class="subHeading") EDUCATION
                    p This list focuses on IT qualifications.
                    br
                    .boxed
                        h4 <b>NCFE Level NCFE Level 3 User Experience/User Interface (UX/UI)</b>
                        p Completed July 2022 (pending assessment). The course covers all aspects of deigning a good User Experience. As with the Coding Practices course, it is Agile / Scrum centric. More information on the syllabus is available <a href="https://www.qualhub.co.uk/media/19898/603-7619-3-qualification-specification-version-10.pdf">HERE</a>.
                    br
                    .boxed
                        h4 <b>NCFE Level 3 Certificate in Coding Practices</b>
                        p Completed early April 2022, the course covered much more than just code, encompasing the entire development cycle. Oriented mostly around Scrum and other Agile methodologies. Included units on Test Driven Development, UI/UX, Deployment and much more. More information on the syllabus is available <a href="https://www.qualhub.co.uk/media/20704/603-5793-9-qualification-factsheet-version-10.pdf">HERE</a>.
                    br
                    .boxed
                        h4 <b>TQUK Level 2 Certificate in IT User Skills (RQF)</b>
                        p Completed 10th Degember 2021. Basic general IT course involving use of standard MS Office style apps, internet, email etc. Modules on Cyber security, data integrity and GDPR were included. This was a free course offered to me, so I took it. More information about the content <a href="https://www.tquk.org/wp-content/uploads/sites/2/2021/08/TQUK-Level-2-Certificate-in-IT-User-skills-RQF-V2U.pdf">HERE</a>.
                    br
                    .boxed
                        h4 City &amp; Guilds level 2 in programming C++
                        p Circa 1995 - 1996. Basic ANSI C++ course using the Borland IDE to make made simple Console based programs. Basic data parsing, bubble &amp; insertion sorts, garbage collection and a little bit of OOP. A basic but solid start in the language that inspired me to continue learning more on my own.

                .bio
                    h3.headings(class="subHeading") BIO
                    .bkgPortrait
                    p Born and raised in the fens of South Lincolnshire, I had a standard secondary school education, moving on to study Science in Stamford College. I relocated to South Wales in my mid 20's, remaining there for the most part until 2018. At this point I returned to the fens, my current location.  
                    
                    br

                    p My work background is extremely varied, from a high tech manufacturing enivronment (Fujifilm Electronic Imaging) to the Equestrian industry.
                    br
                    p Alongside my passion for IT and associated technology, my hobbies include metalwork and vehicle maintenance. I have been passionate about horses for many years, however in more recent times I have developed a strong enthusiasm for Kayaking which is a lot more affordable and just as fun!
                    br
                    br
                #links
                .links
                    h3.headings(class="subHeading") LINKS
                    p These projects are all relatively recent. You will see a strong pattern of improvement as I have progressed and re-introduced myself to software / web development. I cringe now when I look at the code in my earlier projects, I hope to feel the same about my current projects in the future as I refine my skills further. 
                    br
                    .flexContainer
                        .boxedLink
                            h4.green GENERAL LINKS
                            ul 
                                li 
                                    a(href="https://github.com/mxfoyster" target="_blank") GitHub Account 
                                li 
                                    a(href="https://www.linkedin.com/in/mark-foyster/" target="_blank") LinkedIn 
                                li 
                                    a(href="https://pastimperfect.co.uk" target="_blank") Past Imperfect Website&nbsp;
                                    button.new(onclick="activateBigPopUp('Past Imperfect', 'pastimperfect')") MORE INFO
                        
                        .boxedLink
                            h4.green OLDER PORTFOLIOS
                            ul 
                                li 
                                    a(href="http://mark-foyster.epizy.com/portfolio2/" target="_blank") Last Attempt 
                                li 
                                    a(href="http://mark-foyster.epizy.com/portfolio/" target="_blank") First Attempt 
                        
                        .boxedLink
                            h4.green NODE &amp; REACT PROJECTS
                            ul 
                                li 
                                    a(href="/justnode/" target="_blank") Just Node 
                                li 
                                    a(href="/express/" target="_blank") Node, Express &amp; PUG 
                                li 
                                    a(href="https://github.com/mxfoyster/firstReactProject") React Timer Component
                                    button.new(onclick="activateBigPopUp('React Timer', 'reacttimer')") MORE INFO
                    br
                    br
                    .flexContainer
                        .boxedLink
                            h4.green UNITY PROJECTS
                            table 
                                tr 
                                    td
                                        span.myLI &bull; 
                                        a(href="https://github.com/mxfoyster/ModularUnityBits" target="_blank") Modular unity Bits
                                    td 
                                        button.new(onclick="activateBigPopUp('Modular Unity Bits', 'modularunity')") MORE INFO
                                tr 
                                    td
                                        span.myLI &bull; 
                                        a(href="https://github.com/mxfoyster/PenguinFlyer" target="_blank") Penguin Flyer 
                                    td 
                                        button.new(onclick="activateBigPopUp('Penguin Flyer', 'penguinflyer')") MORE INFO

                        .boxedLink
                            h4.green WINDOWS PROJECTS
                            table 
                                tr
                                    td 
                                        span.myLI &bull;
                                        a(href="https://github.com/mxfoyster/PaddlerData" target="_blank") Paddler Data (.NET WPF)
                                    td
                                        button.new(onclick="activateBigPopUp('Paddler Data', 'paddlerdata')") MORE INFO
                                tr
                                    td 
                                        span.myLI &bull;
                                        a(href="https://github.com/mxfoyster/randomWinApp" target="_blank") Paddle Length Calculator (Win 32)
                                    td 
                                        button.new(onclick="activateBigPopUp('Paddle Length (C++)', 'paddlelengthcpp')") MORE INFO
                                tr
                                    td 
                                        span.myLI &bull;
                                        a(href="https://github.com/mxfoyster/first_WPF_App" target="_blank") Paddle Length Calculator (.NET WPF)
                                    td 
                                        button.new(onclick="activateBigPopUp('Paddle Length (C#)', 'paddlelengthwpf')") MORE INFO 
                        
                        .boxedLink
                            h4.green WEB PROJECTS
                            table
                                tr 
                                    td
                                        span.myLI &bull; 
                                        a(href="https://componentlibrary.markfoyster.co.uk/" target="_blank") Library of web components
                                    td
                                         button.new(onclick="activateBigPopUp('Component Library', 'componentlibrary')") MORE INFO  

                                tr 
                                    td 
                                        span.myLI &bull;
                                        a(href="https://bootstrap.markfoyster.co.uk/" target="_blank") Bootstrap, PHP &amp; MySQL Demo
                                    td
                                        button.new(onclick="activateBigPopUp('Bootstrap Demo', 'bootstrap')") MORE INFO 
                                tr
                                    td 
                                        span.myLI &bull; 
                                        a(href="http://mark-foyster.epizy.com/watersports/index.php" target="_blank") Using Real Data
                                    td 
                                        button.new(onclick="activateBigPopUp('Real Data Demo', 'usingrealdata')") MORE INFO
                                tr 
                                    td 
                                        span.myLI &bull;
                                        a(href="http://mark-foyster.epizy.com/kayak/" target="_blank") Soggy Bottom Kayak Club (AUTH System) 
                                    td

                                
                                    
                                       
                                    
                                  
                                         
                                    

                    p 
                        | Everything here is for the purpose of practice and as proof I have a grasp of the basic concept of each technology. The code is available on my github account 
                        a(href="https://github.com/mxfoyster") HERE
                        | . Have a look at some of my other projects and see my 'learning journey'.
                    br
                    br
                
            include includes/profilefooter.pug