:root{
    /* COLOURS */
    --popUpBackgroundColour: whitesmoke; 
    --popUpBoxShadowColour: rgb(141, 139, 139); /* Best to set this a darker tone of the background colour */
    --popUpTitleColour:red;
    --popUpBorderColour: mediumblue;
    
    /* SIZES */
    --popUpSize: 92%; /*This is the size of the entire popup relative to screen*/
}

@keyframes popupFadeIn 
{
    from { 
        visibility: hidden;
        opacity: 0;
    }
    to { 
        visibility: visible;
        opacity: 1;
    }
}

@keyframes popupFadeOut 
{
    from { 
        visibility: visible;
        opacity: 1;
    }
    to { 
        visibility: hidden;
        opacity: 0;
    }
}

#contactCloseBtn{
    float: right;
}

#bigCloseBtn{
    position:absolute;
	right: 10px;
	top: 10px;
    /* padding: 1vw;*/
	z-index: 4; 
}

/* STYLES FOR MAIN BODY OF ECAH POP UP */
.contactPopUp{
	position: fixed;
	width: 280px;
	height: 200px;
	left: 50%;
	top: 30%;
	background-color: var(--boxedElementsColor);
	border-radius: 25px;
	border: 3px solid mediumblue;
	padding: 5px;
	transform: translate(-50%, -50%);
    box-shadow: 7px 7px 3px 3px rgb(141, 139, 139); 
	z-index: 3;
}

.bigPopUp{
	position: fixed;
	width: var(--popUpSize);
	height: var(--popUpSize);
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: calc( (1vw - var(--popUpSize))/2); */
	/* top: calc( (1vh - var(--popUpSize))/2);  */

	background-color: var(--popUpBackgroundColour);
	border-radius: 25px;
	border: 3px solid var(--popUpBorderColour);
	padding: 5px;
    box-shadow: 7px 7px 3px 3px var(--popUpBoxShadowColour); 
	z-index: 3;
    overflow: hidden;
    
}

/* SHARED CSS */
.popupFadeIn{
    animation: popupFadeIn 0.5s ease-in-out;
    visibility: visible;
}

.popupFadeOut{
    animation: popupFadeOut 0.5s ease-in-out;
    visibility: hidden;
}

.popupTitle, #popUpTitle{
    color: var(--popUpTitleColour);
    text-align: center;
}

/* CSS FOR CONTACT POP UP ONLY */
.contactLine{
    display: grid;
    min-height: 51px;
    grid-template-columns: 55px auto;
}

.contactIcon{
    display: inline-block;
    margin: auto;
}

.contactText{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

/* CSS FOR BIG POP UP ONLY */
.stopScrolling{
	overflow: hidden;
}

.popUpTitleContainer {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: var(--popUpSize);
   text-align: center;
}

#popUpBody{
    display: inline-block;
	position: relative;
	top: 50px; /*calc(var(--popUpTitleFontSize) + 10px); */
	height: calc(100% - 60px) ;
	width: 100%;
    overflow-y:scroll;
}

#popUpTitle{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styling for inner content  */
.pCentredImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}