:root{
	--topAnchorOffset: -200px;
	--boxedElementsColor: #d8d9f1; /*rgba(247, 255, 247, 0.8; */
}
@font-face {
	font-family: roboto-normal;
	src: url('../fonts/Roboto-Black.ttf');
  }

@font-face {
	font-family: roboto-paragraph;
	src: url('../fonts/Roboto-Regular.ttf');
  }


body 
{
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

p{
	font-family: roboto-paragraph;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding-left: 8px;
}

ul {
	list-style: none; /* Remove default bullets */
  }

/* This UL custom bullets courtesy of W3Schools */
ul li::before {
	content: "\2022";  /* \2022 = CSS Code/unicode for bullet */
	font-size: 1.2rem;
	color: red; 
	font-weight: bold; 
	display: inline-block; /* adds space between the bullet and text */
	width: 1em; /* needed for space */
	margin-left: -1em; /* needed for space */
  }

nav{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
}
nav > a{
	flex-wrap: wrap;
	flex-grow: 1;
	text-align: center;
	text-decoration: none;
	background-color: #4682b4;
	margin-top: 0.5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	padding:0.4rem;
	border-radius: 5px;
	color:white;
}

.header{
	display: flex;
	padding-bottom: 1rem;
	flex-wrap: wrap;
	
}
.headerOuterContainer{
	
	position: sticky; 
	width:100%;
	top: 10px;
	background-color: var(--boxedElementsColor);
	border-radius: 30px;
	box-shadow: 0 0 10px 10px #f7fff7cc inset;
	z-index: 2;
}

.leftHeader{
	text-align: center;
}

.midHeader{
	margin: auto;
	text-align: center;
}

.midHeader > h3{
	text-align: center;
	line-height: 0.6em;
	font-size: 2rem;

}

.rightHeader{
	margin: auto;
}

.contactSml{
	padding: 15px;
}
.contactSml:hover{
	opacity: 0.8;
}

.middle{
	display: block;
}

.lowerMiddle{
	margin-top: 2rem;
}

.footer{
	text-align: center;
	display: block;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:blue;
}

.sub{
	font-size: 0.8rem;
}

.red{
	color:red;
}

.green{
	color:darkgreen;
}

.flexContainer{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-evenly;
}

/*-------------- Intro section styles -------------------*/
.intro{
	display: block;
	min-height: 321px;
}

.bkgKeyboard{
	display: block;
	margin: auto;
	background-image: url("../images/keyb.png");
	width: 300px;
	height: 321px;
	
}

/*------------- Skills section styles --------------------*/
.skills{
	display: block;
	min-height: 230px;
}


.skillsUl{
	display: block;
	position: relative;
	font-size: 1.2rem;
	color: blue;
	background-color:var(--boxedElementsColor);
	border-radius: 10px;
	border-style: ridge;
	padding: 1rem;
	padding-left: 2rem;
	z-index: 0;
	margin: 3px;
}

.bkgMouse{
	display: block;
	margin: auto;
	background-image: url("../images/mouse2.png");
	width: 300px;
	height: 230px;
}

#skills{
	display: block;
    position: relative;
    top: var(--topAnchorOffset);
    visibility: hidden;
}

/*------------ Education section styles -----------------*/

.boxed{
	background-color:var(--boxedElementsColor);
	border-radius: 10px;
	border-style: ridge;
	padding: 5px;
	margin: 5px;
}

.boxed > h4{
	color: darkgreen;
	padding-left: 10px;
}

#education{
	display: block;
    position: relative;
    top: var(--topAnchorOffset);
    visibility: hidden;
}

/*--------------- Bio section styles --------------------*/
.bio{
	display: block;
	min-height: 342px;
}

.bkgPortrait{
	display: block;
	margin: auto;
	background-image: url("../images/mugshot4sml.png");
	width: 400px;
	height: 342px;
}

/*--------------- Links section styles --------------------*/
.boxedLink{
	display: inline-block;
	font-size: 1.2rem;
	color: blue;
	background-color:var(--boxedElementsColor);
	border-radius: 10px;
	border-style: ridge;
	padding-left: 1rem;
	padding-right: 1rem;
	z-index: 0;
}

/*--------------- Styles for headings ---------------------*/
.headings{
	font-family: roboto-normal;
	color: rgb(83, 51, 229);
	margin-left: 35px;
	text-shadow: 4px 4px 2px rgb(141, 139, 139);
}

.mainHeading{
	font-size: 2.5rem;
	text-align: center;
	line-height: 1.1rem;
}

.subHeading{
	font-size: 2.5rem;
}

/*------------------ Media Queries --------------------*/
@media (min-width: 800px) {
	body{
		background-image: url(../images/dotmatrixbackgroundfaded.png);
		background-size:100%;
		width:90vw;
		margin:auto;
	}
	.main-container{
		width:90%;
		margin:auto;
	}
	.mainHeading{
		font-size: 3.5rem;
		line-height: 0.6em;
	}
	.skillsUl{
		display: inline-block;
		left: 40vw;
		transform: translatex(-50%);		
	}
}


@media (min-width: 1100px) {
	.main-container{
		width: 80%;
	}
	.bkgPortrait{
		float: left;
	}
	
	.bkgKeyboard{
		float: right;
	}
	.bkgMouse{
		float: left;
	}
	.intro > p{
		margin-right: 320px;
	}
	.skills > p{
		margin-left: 340px; 
	}
	.skillsUlNrImage{
		left: calc(40vw - 300px);
		transform: translatex(-50%);
	}
}
