doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', type='text/css', href='css/buttons.css')
        link(rel='stylesheet', type='text/css', href='css/style.css')
        title Node.js &amp; Express.js
    body 
        .grid-container
            include includes/header.pug
            .middle 
                hr
                h3 Introduction
                p Welcome to my project. I am using Node.js and express.js for routing requests. Some of the files routed with Express statically whilst others are rendered with pug.js. On some pages I will use Bootstrap to style the html client side.
                p 
                    | Everything here is for the purpose of practice and as proof I have a grasp of the basic concept of each technology. The code is available on my github account 
                    a(href="https://github.com/mxfoyster/FirstExpressApp") here
                    | . Have a look at some of my other projects while you are there and see my 'learning journey'.
                br
                h3 WATCH THIS SPACE
                P I don't have much to say here yet but feel free to click on the REST button, ther's a little more to see there...
                br
                
            include includes/footer.pug