.header 
    .leftHeader 
        img.nodelogo(src="./images/nodelogo.png" alt="Node Logo")

    .rightHeader
        h1 Building A Node.js server 
        h3.red Using Express.js &amp; pug
        include menu.pug