pre.
    <code> 
            //Routes for my REST demo
            function restRoutes(app, express){ 
                app.use(express.json()); //without this, Express won't import body at all!
                //Review (Has to be query, no body!)
                app.get('/data', (req, res) => {
                    res.send("Getting (Review): " + req.query.data);
                });
                
                //Create (All the rest, we can look at our body)
                app.post('/data', (req, res) => {
                    res.send("Posting (Create): " + req.body.data);
                });
                
                //Update
                app.put('/data', (req, res) => {
                    res.send("Putting (Update): " + req.body.data);
                });
                
                //Delete
                app.delete('/data', (req, res) => {
                    res.send("Deleting: " + req.body.data);
                });
            }

    </code>